@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.navbar{
    .container{
        font-size: larger;
        .logo{
            text-decoration: none;
            font-weight: bold;
            font-family: 'Poppins';
			color: rgb(56, 35, 114);


        }
        
        
        

    }
    
}
.form-control {
	height: 40px;
	box-shadow: none;
	color: #969fa4;
	background-color: #646FD4;
}	

.form-control:focus {
	border-color: #646FD4;
	transition: 0.3s;
}
.form-control, .btn {        
	border-radius: 3px;
	background: #646FD4;
}
.signup-form {
	width: 450px;
	margin: 0 auto;
	padding: 30px 0;
  	font-size: 15px;
}
.signup-form h2 {
	color: rgb(56, 35, 114);
	margin: 0 0 15px;
	position: relative;
	text-align: center;
	font-family: 'Poppins';
}
	
.signup-form h2:before {
	left: 0;
}
.signup-form h2:after {
	right: 0;
}
.signup-form .hint-text {
	color: #999;
	margin-bottom: 30px;
	text-align: center;
}
.signup-form form {
	color: #999;
	border-radius: 3px;
	margin-bottom: 15px;
	background: #DBDFFD;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	padding: 30px;
}
.signup-form .form-group {
	margin-bottom: 20px;
}

.signup-form .btn {        
	font-size: 16px;
	font-weight: bold;		
	min-width: 140px;
	outline: none !important;
	background: #646FD4;
	&:hover{
		background: #242F9B;
		border-color: #DBDFFD;
	}
	border-color: #242F9B;
}

.signup-form .row div:first-child {
	padding-right: 10px;
}
.signup-form .row div:last-child {
	padding-left: 10px;
}    	
.signup-form a {
	color: rgb(56, 35, 114);;
	text-decoration: underline;
}
.signup-form a:hover {
	text-decoration: none;
}
.signup-form form a {
	color: rgb(56, 35, 114);;
	text-decoration: none;
}	
.signup-form form a:hover {
	text-decoration: underline;
}  
