@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    background: #DBDFFD;
    
}
.navbar{
    .container{
        font-size: larger;
        .logo{
            text-decoration: none;
            font-weight: bold;
            font-family: 'Poppins';


        }
        
        
        

    }
    
}
.main1 {
    width: 100vw;
  
    margin: auto;
    position: relative;
    top: 4vh;
    font-family: 'Poppins', sans-serif;
    
    
}
.heading{
  color: rgb(56, 35, 114);
  
 
}

.main2 {
    width: 100vw;
   
    margin: auto;
    background-color: DBDFFD;
    color: white;
    padding: 0.5vw
}

.flag {
    width: 5vw;
    height: 3vw;
    position: relative;
    bottom: 0.5vw;
    
}

.pt {
    font-size: 2vw;
    color: rgb(56, 35, 114);
    font-size: bold;
}

table {
    color: white
    
      
}

.logo {
    width: 2vw;
    height: 2vw
}

td {
    text-align: center;
    color: black;
  
    
}

.name {
    text-align: left
}

thead {
    background-color: #764AF1;
    border-bottom: 2px solid red;
    
     
    
}

.top {
    background-color: white
}



@keyframes four {
    0% {
        position: relative;
        right: 0vw
    }

    50% {
        position: relative;
        right: 2vw
    }

    100% {
        position: relative;
        right: 0vw
    }
}

@media only screen and (max-width: 425px) {

    .main1,
    .main2 {
        width: 100vw;
        height: 220vw
    }

    .name {
        font-size: 4vw
    }

    .logo {
        height: 6vw;
        width: 6vw
    }

    h2 {
        font-size: 8vw
    }

    .flag {
        width: 10vw;
        height: 6vw;
        position: relative;
        bottom: 1vw
    }

    .pt {
        font-size: 5vw
    }
    
}
